*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
h3{
    text-align: center;
    color: white;
    margin-top: 40vh;
    font-family: italic;
    letter-spacing: 2px;
    font-size: 20px;
    
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background-color: black;
}
.wrapper{
    height: 100px;
    width: 360px;
    cursor: default;
    background:linear-gradient(135deg, rgb(255, 255, 255),rgb(30, 255, 0),rgb(255, 0, 0));
    border-radius: 10px;
    animation: animate 1.5s linear infinite;
}
.wrapper .display, 
.wrapper span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.wrapper .display{
    z-index: 999;
    background: rgb(36, 36, 37);
    border-radius: 6px;
    height: 85px;
    width: 345px;
    text-align: center;  
}
.wrapper .display #time{
    line-height: 85px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: bold;
    background:linear-gradient(135deg, rgb(2, 255, 2),rgb(255, 0, 0),rgb(255, 183, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;


}
@keyframes animate {
    100%{
        filter: hue-rotate(360deg);
    }

}
.wrapper span{
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 10px;
}
.wrapper span:first-child{
    filter: blur(10px);
}
.wrapper span:last-child{
    filter: blur(20px);
}